[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
utm = "*"
networkx = "*"
matplotlib = "*"
tqdm = "*"
mesa = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.10"
